@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Permanent+Marker&display=swap');

html {
    scroll-behavior: smooth;
  }
  
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
.me{
    height: 655px;
}
.intro{
    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
li{
    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
@font-face {
    font-family: mags;
    src: url(mag_fonts.ttf);
}
.welc{
    font-family: mags;
}

.title{
    
    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
.card {
    flex: 1 0 21%; /* 21% so as to have a little space between the cards */
    margin: 2%;
    max-width: 400px;
    cursor: pointer;
    background: #e0e5f6;

}
.card img{
    height: 400px;
    object-fit: contain;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



